:root {
    --main: #B91C06;
    --white: #ffffff;
  }
h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
    color:var(--main);
}
.design_icon {
    border-radius: 50% !important;
    border-color: red !important;
}

.booking_button {
background-color:var(--main) !important;
color: white !important;
width: 300px;
left:40%;
position: absolute;
    top: 80vh;
    border-radius: 20px !important;

}
.booking_button_down {
    background-color:var(--main) !important;
    color: white !important;
    width: 300px;
        border-radius: 20px !important;

    }
.front_text{
    left:20%;
    position: absolute;
    /* top: 20vh; */
}
#booking_form{
background-image: url('../images/booking_image.jpg');
height: 540px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.booking_button:hover, .booking_button_down:hover {
    background-color:var(--white) !important;
    color: var(--main) !important;
    border: 1px solid var(--main) !important;

    }
    .nav-item a{
        font-size: 15px !important;
        text-transform: uppercase!important;
        font-weight: bold !important;
    }
    .nav-item a:hover{
        color: #B91C06 !important;
    }
    .nav-item a.active{
        color: #B91C06 !important;
        font-size: 17px !important;
    }
    .nav-item a{
        color: #bd6a5f !important;
    }

    tr.table{
        background-color: #B91C06 !important;
    }
    .btn-success, .btn-primary{
        background-color: #B91C06 !important;
        color: #ffffff;
    }

    .btn-success:hover, .btn-primary:hover{
        background-color: #ffffff !important;
        color: #B91C06 !important;
        border: 1px solid #B91C06
    }
